C:\Users\andre\Documents\UNI\Master_Digital_Humanities\S1_WS2023\UE_Motion_Capture\QTM Test Data-20231018
C:\Users\andre\Documents\UNI\Master_Digital_Humanities\S1_WS2023\UE_Motion_Capture\MOCAP_data_recording
QTM Test Data-20231018.zip
